<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2ndfloor</key>
	<dict>
		<key>com.apple.print.preset.id</key>
		<string>2ndfloor</string>
		<key>com.apple.print.preset.settings</key>
		<dict>
			<key>AP_D_InputSlot</key>
			<string></string>
			<key>AccessCodeValue</key>
			<string></string>
			<key>BookletBinding</key>
			<false/>
			<key>BookletType</key>
			<integer>0</integer>
			<key>BoxNumberValue</key>
			<string></string>
			<key>BoxPasswordValue</key>
			<string></string>
			<key>CIE</key>
			<string>PrnDef</string>
			<key>CaBrightness</key>
			<string>0</string>
			<key>CaColorMode</key>
			<string>0</string>
			<key>CaContrast</key>
			<string>0</string>
			<key>JobName</key>
			<string>1</string>
			<key>JobNameState</key>
			<string>0</string>
			<key>JobNameValue</key>
			<string>Untitled 2</string>
			<key>Jog</key>
			<string>False</string>
			<key>KCBooklet</key>
			<string>None</string>
			<key>KCCollate</key>
			<string>PrnDef</string>
			<key>KCEcoprint</key>
			<string>Off</string>
			<key>KCFeedingEdge</key>
			<string>None</string>
			<key>KCFold</key>
			<string>False</string>
			<key>KCFoldA</key>
			<string>None</string>
			<key>KCFoldB</key>
			<string>None</string>
			<key>KCFoldC</key>
			<string>None</string>
			<key>KCFoldD</key>
			<string>None</string>
			<key>KCPunch</key>
			<string>None</string>
			<key>KCRotate</key>
			<string>False</string>
			<key>KCStaple</key>
			<string>None</string>
			<key>KCUserLogin</key>
			<string>False</string>
			<key>KmCoverModeState</key>
			<string>Off</string>
			<key>KmCustomBoxPromptFlag</key>
			<string>Off</string>
			<key>KmEmailSettingsEnabled</key>
			<string>Off</string>
			<key>KmJobAccountingState</key>
			<string>On</string>
			<key>KmJobSettingsEnabled</key>
			<string>Off</string>
			<key>KmManagment</key>
			<string>MG00000000</string>
			<key>KmPageinsertState</key>
			<string>Off</string>
			<key>KmTransparencyinterleavingState</key>
			<string>Off</string>
			<key>KmUserLoginEnabled</key>
			<string>Off</string>
			<key>KmUserLoginIDValue</key>
			<string></string>
			<key>KmUserLoginPasswordValue</key>
			<string></string>
			<key>KmUserLoginPromptAtPrint</key>
			<string>YES</string>
			<key>KmWatermarkState</key>
			<string>Off</string>
			<key>ManagementCodeValue</key>
			<string>2002</string>
			<key>MediaType</key>
			<string>PrnDef</string>
			<key>OutputBin</key>
			<string>None</string>
			<key>PaperInfoIsSuggested</key>
			<true/>
			<key>Rotate</key>
			<string>False</string>
			<key>Smoothing</key>
			<string>True</string>
			<key>StapleCount</key>
			<string>None</string>
			<key>StapleStatus</key>
			<string>273</string>
			<key>com.apple.print.PageToPaperMappingAllowScalingUp</key>
			<true/>
			<key>com.apple.print.PageToPaperMappingMediaName</key>
			<string>Letter</string>
			<key>com.apple.print.PageToPaperMappingType</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMColorSpaceModel</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMCopies</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMCopyCollate</key>
			<true/>
			<key>com.apple.print.PrintSettings.PMDestinationType</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMDuplexing</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMFirstPage</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMLastPage</key>
			<integer>2147483647</integer>
			<key>com.apple.print.PrintSettings.PMPageRange</key>
			<array>
				<integer>1</integer>
				<integer>2147483647</integer>
			</array>
			<key>com.apple.print.preset.Orientation</key>
			<integer>1</integer>
			<key>com.apple.print.preset.PaperInfo</key>
			<dict>
				<key>paperInfo</key>
				<dict>
					<key>PMPPDPaperCodeName</key>
					<string>Letter</string>
					<key>PMPPDTranslationStringPaperName</key>
					<string>Letter</string>
					<key>PMTiogaPaperName</key>
					<string>na-letter</string>
					<key>com.apple.print.PageFormat.PMAdjustedPageRect</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<real>776</real>
						<real>588</real>
					</array>
					<key>com.apple.print.PageFormat.PMAdjustedPaperRect</key>
					<array>
						<real>-8</real>
						<real>-12</real>
						<real>784</real>
						<real>600</real>
					</array>
					<key>com.apple.print.PaperInfo.PMCustomPaper</key>
					<false/>
					<key>com.apple.print.PaperInfo.PMPaperName</key>
					<string>na-letter</string>
					<key>com.apple.print.PaperInfo.PMUnadjustedPageRect</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<real>776</real>
						<real>588</real>
					</array>
					<key>com.apple.print.PaperInfo.PMUnadjustedPaperRect</key>
					<array>
						<real>-8</real>
						<real>-12</real>
						<real>784</real>
						<real>600</real>
					</array>
					<key>com.apple.print.PaperInfo.ppd.PMPaperName</key>
					<string>Letter</string>
					<key>com.apple.print.ticket.type</key>
					<string>com.apple.print.PaperInfoTicket</string>
				</dict>
			</dict>
			<key>com.apple.print.subTicket.paper_info_ticket</key>
			<dict>
				<key>PMPPDPaperCodeName</key>
				<string>Letter</string>
				<key>PMPPDTranslationStringPaperName</key>
				<string>Letter</string>
				<key>PMTiogaPaperName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMDisplayName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMPPDPaperDimension</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>612</real>
					<real>792</real>
				</array>
				<key>com.apple.print.PaperInfo.PMPaperName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMUnadjustedPageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>776</real>
					<real>588</real>
				</array>
				<key>com.apple.print.PaperInfo.PMUnadjustedPaperRect</key>
				<array>
					<real>-8</real>
					<real>-12</real>
					<real>784</real>
					<real>600</real>
				</array>
				<key>com.apple.print.PaperInfo.ppd.PMPaperName</key>
				<string>Letter</string>
				<key>com.apple.print.ticket.type</key>
				<string>com.apple.print.PaperInfoTicket</string>
			</dict>
			<key>com.apple.print.ticket.type</key>
			<string>com.apple.print.PrintSettingsTicket</string>
			<key>job-sheets</key>
			<string>none</string>
		</dict>
	</dict>
	<key>com.apple.print.customPresetNames</key>
	<array>
		<string>2ndfloor</string>
	</array>
	<key>com.apple.print.lastPresetPref</key>
	<string>2ndfloor</string>
	<key>com.apple.print.lastPresetPrefType</key>
	<integer>4</integer>
	<key>com.apple.print.lastUsedSettingsPref</key>
	<dict>
		<key>com.apple.print.preset.id</key>
		<string>com.apple.print.lastUsedSettingsPref</string>
		<key>com.apple.print.preset.settings</key>
		<dict>
			<key>AP_D_InputSlot</key>
			<string></string>
			<key>AccessCodeValue</key>
			<string></string>
			<key>BookletBinding</key>
			<false/>
			<key>BookletType</key>
			<integer>0</integer>
			<key>BoxNumberValue</key>
			<string></string>
			<key>BoxPasswordValue</key>
			<string></string>
			<key>CIE</key>
			<string>PrnDef</string>
			<key>CaBrightness</key>
			<string>0</string>
			<key>CaColorMode</key>
			<string>0</string>
			<key>CaContrast</key>
			<string>0</string>
			<key>Custom</key>
			<string>Off</string>
			<key>JobName</key>
			<string>1</string>
			<key>JobNameState</key>
			<string>0</string>
			<key>JobNameValue</key>
			<string>Untitled 2</string>
			<key>Jog</key>
			<string>False</string>
			<key>KCBooklet</key>
			<string>None</string>
			<key>KCCollate</key>
			<string>PrnDef</string>
			<key>KCEcoprint</key>
			<string>Off</string>
			<key>KCFeedingEdge</key>
			<string>None</string>
			<key>KCFold</key>
			<string>False</string>
			<key>KCFoldA</key>
			<string>None</string>
			<key>KCFoldB</key>
			<string>None</string>
			<key>KCFoldC</key>
			<string>None</string>
			<key>KCFoldD</key>
			<string>None</string>
			<key>KCPunch</key>
			<string>None</string>
			<key>KCRotate</key>
			<string>False</string>
			<key>KCStaple</key>
			<string>None</string>
			<key>KCUserLogin</key>
			<string>False</string>
			<key>KmCoverModeState</key>
			<string>Off</string>
			<key>KmCustomBoxPromptFlag</key>
			<string>Off</string>
			<key>KmEmailSettingsEnabled</key>
			<string>Off</string>
			<key>KmJobAccountingState</key>
			<string>On</string>
			<key>KmJobSettingsEnabled</key>
			<string>Off</string>
			<key>KmManagment</key>
			<string>MG00000000</string>
			<key>KmPageinsertState</key>
			<string>Off</string>
			<key>KmTransparencyinterleavingState</key>
			<string>Off</string>
			<key>KmUserLoginEnabled</key>
			<string>Off</string>
			<key>KmUserLoginIDValue</key>
			<string></string>
			<key>KmUserLoginPasswordValue</key>
			<string></string>
			<key>KmUserLoginPromptAtPrint</key>
			<string>YES</string>
			<key>KmWatermarkState</key>
			<string>Off</string>
			<key>ManagementCodeValue</key>
			<string>2002</string>
			<key>MediaType</key>
			<string>PrnDef</string>
			<key>OutputBin</key>
			<string>None</string>
			<key>PaperInfoIsSuggested</key>
			<true/>
			<key>Rotate</key>
			<string>False</string>
			<key>Smoothing</key>
			<string>True</string>
			<key>StapleCount</key>
			<string>None</string>
			<key>StapleStatus</key>
			<string>273</string>
			<key>com.apple.print.PageToPaperMappingAllowScalingUp</key>
			<true/>
			<key>com.apple.print.PageToPaperMappingMediaName</key>
			<string>Letter</string>
			<key>com.apple.print.PageToPaperMappingType</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMColorSpaceModel</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMCopies</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMCopyCollate</key>
			<true/>
			<key>com.apple.print.PrintSettings.PMDestinationType</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMDuplexing</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMFirstPage</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMLastPage</key>
			<integer>2147483647</integer>
			<key>com.apple.print.PrintSettings.PMPageRange</key>
			<array>
				<integer>1</integer>
				<integer>2147483647</integer>
			</array>
			<key>com.apple.print.preset.Orientation</key>
			<integer>1</integer>
			<key>com.apple.print.preset.PaperInfo</key>
			<dict>
				<key>paperInfo</key>
				<dict>
					<key>PMPPDPaperCodeName</key>
					<string>Letter</string>
					<key>PMPPDTranslationStringPaperName</key>
					<string>Letter</string>
					<key>PMTiogaPaperName</key>
					<string>na-letter</string>
					<key>com.apple.print.PageFormat.PMAdjustedPageRect</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<real>776</real>
						<real>588</real>
					</array>
					<key>com.apple.print.PageFormat.PMAdjustedPaperRect</key>
					<array>
						<real>-8</real>
						<real>-12</real>
						<real>784</real>
						<real>600</real>
					</array>
					<key>com.apple.print.PaperInfo.PMCustomPaper</key>
					<false/>
					<key>com.apple.print.PaperInfo.PMPaperName</key>
					<string>na-letter</string>
					<key>com.apple.print.PaperInfo.PMUnadjustedPageRect</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<real>776</real>
						<real>588</real>
					</array>
					<key>com.apple.print.PaperInfo.PMUnadjustedPaperRect</key>
					<array>
						<real>-8</real>
						<real>-12</real>
						<real>784</real>
						<real>600</real>
					</array>
					<key>com.apple.print.PaperInfo.ppd.PMPaperName</key>
					<string>Letter</string>
					<key>com.apple.print.ticket.type</key>
					<string>com.apple.print.PaperInfoTicket</string>
				</dict>
			</dict>
			<key>com.apple.print.subTicket.paper_info_ticket</key>
			<dict>
				<key>PMPPDPaperCodeName</key>
				<string>Letter</string>
				<key>PMPPDTranslationStringPaperName</key>
				<string>Letter</string>
				<key>PMTiogaPaperName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMDisplayName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMPPDPaperDimension</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>612</real>
					<real>792</real>
				</array>
				<key>com.apple.print.PaperInfo.PMPaperName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMUnadjustedPageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>776</real>
					<real>588</real>
				</array>
				<key>com.apple.print.PaperInfo.PMUnadjustedPaperRect</key>
				<array>
					<real>-8</real>
					<real>-12</real>
					<real>784</real>
					<real>600</real>
				</array>
				<key>com.apple.print.PaperInfo.ppd.PMPaperName</key>
				<string>Letter</string>
				<key>com.apple.print.ticket.type</key>
				<string>com.apple.print.PaperInfoTicket</string>
			</dict>
			<key>com.apple.print.ticket.type</key>
			<string>com.apple.print.PrintSettingsTicket</string>
			<key>job-sheets</key>
			<string>none</string>
		</dict>
	</dict>
</dict>
</plist>
